###> opensign ###
OPENSIGN_APP_ID=opensign
OPENSIGN_MASTER_KEY=dev-master-key
OPENSIGN_API_URL=http://opensign:8080/app
OPENSIGN_API_USERNAME=api.system@ossmb.com
OPENSIGN_API_PASSWORD=Api-password-123!
OPENSIGN_API_EMAIL=api.system@ossmb.com
OPENSIGN_USER_ID=Fbd7awdjbx
OPENSIGN_SESSION_TOKEN=r:318884af710a342dbb868e1afcc275b1
###< opensign ###
