###> opensign ###
OPENSIGN_APP_ID=opensign-dev-app-id
OPENSIGN_MASTER_KEY=opensign-dev-master-key
OPENSIGN_API_URL=http://opensign:3000/app
OPENSIGN_USER_ID=z7BHSLCTWV
OPENSIGN_SESSION_TOKEN=r:ee92d877b32a4640ea123426309e91d1
###< opensign ###
