###> opensign ###
OPENSIGN_APP_ID=opensign
OPENSIGN_MASTER_KEY=dev-master-key
OPENSIGN_API_URL=http://opensign:8080/app
OPENSIGN_API_USERNAME=api.system@ossmb.com
OPENSIGN_API_PASSWORD=Api-password-123!
OPENSIGN_API_EMAIL=api.system@ossmb.com
OPENSIGN_USER_ID=ydY4TywNKT
OPENSIGN_SESSION_TOKEN=r:f0b59bf8e50588f9a17fb3ee3bea4825
OPENSIGN_WEBHOOK_SECRET=CHANGE-ME-set-to-your-opensign-webhook-security-key
###< opensign ###
